- if user_signed_in?
  %h1 Shifts
  .shifts
    .row
      .col-sm-6
        = select_tag "team_id", options_from_collection_for_select(@teams, "id", "name", @selected_team.id), class: "form-control", onchange: 'team_onchange_handler()'
      .col-sm-6
        = select_tag "user_id", options_from_collection_for_select(@members, "id", "first_name", @selected_member.id), class: "form-control",onchange: 'member_onchange_handler()'
    .row
      #shift_form.col-sm-12
        = form_with url: "/create_shifts" , class: "form-inline" do |form|
          = form.hidden_field :team_id, value: @selected_team.id
          = form.hidden_field :user_id, value: @selected_member.id
          %table.table
            %thead
              %tr
                %th Name
                %th Start Time
                %th End Time
            %tbody
              - @shifts.each do |date, value|
                = form.fields_for :shift_date, index: date do |shift_date|
                  %tr
                    %td
                      = date
                    %td
                      = shift_date.time_field :start_time, value: value[:start_time]
                    %td
                      = shift_date.time_field :end_time, value: value[:end_time]
          = form.submit "Save", class: "form-control btn btn-primary pull-right"
        %div
